<h2>Register</h2>
<div class="row">
    <div class="col-md-8">
        <section>
            <form class="form-horizontal" role="form">
                <h4>Create a new account.</h4>
                <hr />
                <div class="row">
                    <sw-form-field label="Email:"
                                   placeholder="Email"
                                   type="text"
                                   data-ng-model="registerData.email" ng-required="true"
                    </sw-form-field>
                    <sw-form-field label="Hometown:"
                                   placeholder="Hometown"
                                   type="text"
                                   data-ng-model="registerData.hometown">
                    </sw-form-field>
                    <sw-form-field label="Password:"
                                   placeholder="Password"
                                   type="password"
                                   data-ng-model="registerData.password" ng-required="true">
                    </sw-form-field>
                    <sw-form-field label="Confirm Password:"
                                   placeholder="Confirm Password"
                                   type="password"
                                   data-ng-model="registerData.confirmPassword" ng-required="true">
                    </sw-form-field>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-default" type="button" data-ng-click="register()">
                                Register
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </div>
</div>