<div class="row">
    <form class="form-horizontal">
        <fieldset>
            <div id="legend">
                <legend class="">New Reservation</legend>
            </div>

            <div class="col-xs-3">
                <sw-form-field label="Reservation Date:" 
                               type="date"
                               data-ng-model="data.reservationDate" options="required">
                </sw-form-field>

                <sw-form-field label="Reservation Time:" 
                               type="time"
                               data-ng-model="data.reservationTime" options="timeOptions">
                </sw-form-field>

                <sw-form-field label="Name:" 
                               data-ng-model="data.name" options="required">
                </sw-form-field>

                <sw-form-field label="How many people will be in the party?" 
                               css="'small-field'"
                               data-ng-model="data.guestsCount" options="required">
                </sw-form-field>

                <div class="form-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>